<input type="text" placeholder="Enter the first address" id="addressOne">
<input type="text" placeholder="Enter the second address" id="addressTwo">
<input type="text" placeholder="Enter an activity" id="searchActivity">
<button type="submit" id="submit">FIND A PLACE!</button>