<h2>Let's Get Started</h2>
<input type="text" placeholder="Enter the first location" id="addressOne">
<input type="text" placeholder="Enter the second location" id="addressTwo"><br>
<input type="text" placeholder="Enter an activity" id="searchActivity"><br>
<button type="submit" id="submit">FIND A PLACE!</button>