/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

 body{
 	font-family: 'Montserrat', sans-serif;
 	background-color: #FFECB3;
 }
 #main{

 }
 #main img{
 	position: absolute;
 	right: 0px;
 	top: 0px;
 }
 #h1circle{
 	position: absolute;
 	left: 60px;
 	top: 60px;
 	height: 400px;
 	width: 400px;
 	border-radius: 300px;
 	background-color: #F44336;
 	z-index: 6;
 	-webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
 }
 #main h1{
 	position: relative;
 	top: 20px;
 	font-weight: 400;
 	font-size: 80px;
 	color: white;
 	text-align: center;
 }
 #flowLine{
 	position: absolute;
 	text-align: center;
 	height: 1555px;
 	width: 10px;
 	background-color: #F44336;
 	left: 250px;
 	top: 450px;
 	z-index: 5;
 	-webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
 }
 #aboutTextBox{
 	position: relative;
 	background-color: #F44336;
 	top: 755px;
 	margin-left: auto;
 	margin-right: auto;
 	height: 450px;
 	width: 800px;
 	z-index: 8;
 	border-radius: 5px;
 	-webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
 }
 #aboutTextBox p{
 	position: relative;
 	font-weight: 400px;
 	font-size: 48px;
 	text-align: center;
 	color: white;
 	padding: 50px 50px 50px 50px;
 }
 #form{
 	position: relative;
 	font-weight: 400px;
 	font-size: 36px;
 	padding-top: 5px;
 	text-align: center;
 	color: white;
 	background-color: #FFC107;
 	top: 955px;
 	margin-left: auto;
 	margin-right: auto;
 	height: 450px;
 	width: 800px;
 	z-index: 8;
 	border-radius: 5px;
 	-webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);

 }
#addressOne {
	width: 250px;
	height: 20px;
	margin: 5px 5px 5px 5px;
	padding: 15px 15px 15px 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border: solid 5px #c9c9c9;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#addressTwo {
	width: 250px;
	height: 20px;
	padding: 15px 15px 15px 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border: solid 5px #c9c9c9;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#searchActivity {
	height: 20px;
	margin: 5px 5px 5px 5px;
	padding: 15px 15px 15px 15px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	border: solid 5px #c9c9c9;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#submit{
	margin: 20px 20px 20px 20px;
	font-weight: 400;
	font-size: 16px;
	background-color: #03A9F4;
	padding: 15px 15px 15px 15px;
	border-radius: 5px;
	border: solid 0px #c9c9c9;
	color: white;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}
