<!DOCTYPE html>
<html>
<head>
  <title>LetsMeetUpApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<article id="main">
		<a id = "mainPhoto" href="http://imgur.com/C08aJNL"><img src="http://i.imgur.com/C08aJNL.png?1" title="source: imgur.com" /></a>
	</article>
	<article id="about"></article>
	<article id="form"></article>
	<article id="map"></article>

<%= yield %>

</body>
</html>
