<!DOCTYPE html>
<html>
<head>
  <title>Let's Meet Halfway</title>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  	<script src="https://maps.googleapis.com/maps/api/js?key=" + ENV['GEOCODE_KEY'] + "&callback=initMap"></script>
</head>

</head>
<body>
	<article id="main">
		<img src="//i.imgur.com/4Cppwf9.png?1" title="source: imgur.com" />
		<div id='h1circle'>
		<h1>LET'S<br>MEET!</h1>
		</div>
		<div id="flowLine"></div>
	</article>

	<article id="about">
		<div id="aboutTextBox">
			<p><span>An easy way to make plans with people who are further away from you than you would like.<br>Find a place to meet in the middle!</p>
		</div>
	</article>

	<article id="form">
	</article>
	

	<article id="holder">
		<div id="map"></div>
		<div id="listResults"></div>
	</article>
	<!-- <footer>
		<p>Created by Andrew Jeoung, Connor Rowland, and Naina Prasad at General Assembly in August of 2015.</p>
	</footer> -->

</body>
</html>
